tiddlers\$__Storylist.tid
*.ps1
*.bat
tiddlers/$__StoryList.tid
output/*
output\*
fonts/*
fonts\*
logfile.txt
tiddlers/$__StoryList_1.tid
tiddlers\$__StoryList_1.tid
tiddlers/$__StoryList_*.tid
tiddlers\$__StoryList_*.tid
