.container {width:100%;margin 30px auto;overflow:hidden;}

.galleryItem {float:left;width:16%;margin:1% 1% 1% 1%;}

.galleryItem img {max-width: 100%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;max-height:50%}


.tc-modal img {width: 100%;}