@font-face {
      font-family: "Celestia Antiqua Alt";
      src: url(CelestiaAntiquaAlt.ttf);
}

.serif {
	font-family: "Celestia Antiqua Alt", "Liberation Serif", "Times New Roman", serif;
}

.heresy {
	font-family: "Celestia Antiqua Alt", "Liberation Serif", "Times New Roman", serif;
	color: red;
	font-size: 1.1em;
}