a[href]:not(.tc-tiddlylink)::after {
	content: " " url(./tw-files/Image/external-link.svg);
}

a[href].tc-tiddlylink-missing {
	font-variant: small-caps;
	font-style: normal;
	font-size: 0.85em;
	verical-align: middle;
	color: #dd514c;
}