.title,h1,h2,h3,h4,h5,h6 {
	font-family:'London';
}

code {
	font-family:'Dwarf Fortress','Courier New';
}

.atk {font-family:'atk'; }

.d4 {font-family:'d4'; }

.d6 {font-family:'d6'; }

.d8 {font-family:'d8'; }

.d10 {font-family:'d10'; }

.d12 {font-family:'d12'; }

.d20 {font-family:'d20'; }

.sc {font-variant: small-caps;}

.tc-tag-label {
	font-family:'Lobster';
}

.serif {
	font-family: "Celestia Antiqua Alt", "Liberation Serif", "Times New Roman", serif;
}

.heresy {
	font-family: "Celestia Antiqua SC", "Liberation Serif", "Times New Roman", serif;
	color: red;
	font-size: 110%;

.tc-tagged-Tyranids {
	font-family: "Cardo", "Celestia Antiqua Alt", "Liberation Serif", "Times New Roman", serif;
}
.tc-tagged-Tyranids svg {
	width: 0.85em;
	height: 0.85em;
	fill: #333353;
	verical-align: bottom;
}
sub, sup {
	font-variant: small-caps;
}

.tc-tagged-Tyranids h1,.tc-tagged-Tyranids h2,.tc-tagged-Tyranids h3,.tc-tagged-Tyranids h4,.tc-tagged-Tyranids h5,.tc-tagged-Tyranids h6 {font-family: "Montserrat", "Heveltica Neue", "Heveltica", "Arial";}