.title, h1, h2, h3, h4, h5, h6 {
	font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily/headings}}
}

.tc-tag-label {
 font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily/serifs}};
}

.sc {
	font-variant: small-caps;
}


.tc-system-title-prefix {
	font-weight: bold;
	font-family: {{$:/themes/tiddlywiki/vanilla/settings/codefontfamily}}
}

.serif {
 font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily/serifs}};
}

.heresy {
	font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily/serifs}}; 
	color: firebrick;
	font-size: 1.05em;
	transform: rotate(-4deg);
	display: inline-block;
}

.tc-tagged-Tyranids {
	font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily/serifs}};
}

.tc-tagged-Tyranids svg {
	width: 0.85em;
	height: 0.85em;
	fill: #333353;
	verical-align: bottom;
}
sub, sup {
	font-variant: small-caps;
}