.tc-sidediv {
      float:left;
      border: 1px;
      margin:0.5em;
      border-color:#547599;
      line-height:1.3em;
      border-style:solid;
      padding:0.5em;
      background:#f7f7f9;
      width:30%;
}
.tc-row {
      display:flex;
}
.tc-col {
      flex: 1;
      margin: 0.5em;
}