.lesbianism-bg {
	background: rgb(163,1,97);
	background: -moz-linear-gradient(90deg, rgba(163,1,97,1) 0%, rgba(183,85,145,1) 16.66%, rgba(183,85,145,1) 33.32%, rgba(236,237,234,1) 49.98%, rgba(227,173,207,1) 66.64%, rgba(197,77,86,1) 83.30%, rgba(138,31,3,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(163,1,97,1) 0%, rgba(183,85,145,1) 16.66%, rgba(183,85,145,1) 33.32%, rgba(236,237,234,1) 49.98%, rgba(227,173,207,1) 66.64%, rgba(197,77,86,1) 83.30%, rgba(138,31,3,1) 100%);
	background: linear-gradient(90deg, rgba(163,1,97,1) 0%, rgba(183,85,145,1) 16.66%, rgba(183,85,145,1) 33.32%, rgba(236,237,234,1) 49.98%, rgba(227,173,207,1) 66.64%, rgba(197,77,86,1) 83.30%, rgba(138,31,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30161",endColorstr="#8a1f03",GradientType=1);
}
.lesbianism {
	color: rgb(163,1,97);
	color: -moz-linear-gradient(90deg, rgba(163,1,97,1) 0%, rgba(183,85,145,1) 16.66%, rgba(183,85,145,1) 33.32%, rgba(236,237,234,1) 49.98%, rgba(227,173,207,1) 66.64%, rgba(197,77,86,1) 83.30%, rgba(138,31,3,1) 100%);
	color: -webkit-linear-gradient(90deg, rgba(163,1,97,1) 0%, rgba(183,85,145,1) 16.66%, rgba(183,85,145,1) 33.32%, rgba(236,237,234,1) 49.98%, rgba(227,173,207,1) 66.64%, rgba(197,77,86,1) 83.30%, rgba(138,31,3,1) 100%);
	color: linear-gradient(90deg, rgba(163,1,97,1) 0%, rgba(183,85,145,1) 16.66%, rgba(183,85,145,1) 33.32%, rgba(236,237,234,1) 49.98%, rgba(227,173,207,1) 66.64%, rgba(197,77,86,1) 83.30%, rgba(138,31,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30161",endColorstr="#8a1f03",GradientType=1);
}