.fine {
	font-size: 6px;
}
.diminutive {
	font-size: 8px;
}
.tiny {
	font-size: 10px;
}
.small {
	font-size: 12px;
}
.medium {
	font-size: 14px;
}
.large {
	font-size: 16px;
}
.huge {
	font-size: 18px;
}
.gargantuan {
	font-size: 20px;
}
.colossal {
	font-size: 22px;
}
.colossal+ {
	font-size: 24px;
}